form fieldset {
    margin: 2rem 0;
    border: 1px solid #E76F51;
    border-radius: 10px;
    padding: 0.5rem 2%;
}

form legend {
    color: #E76F51;
    margin: 0 1rem;
    padding: 0 0.5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #E76F51;
    font-size: 00.8rem;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #E76F51;
    border-radius: 4px;
    padding: 0.75rem;
    color: #E76F51;
    width: 100%;
    max-width: 20rem;
    background-color: #0000001a;
}

form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: grey;
}

form input.submitBtn {
    border: none;
    background-color: #F4A261;
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form input.top:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}