*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* ---------------------- Header --------------------------------*/
header {
    background  : #2a7baa;
    color: white;
    text-align: center;
    height: 45px;
}
/* ----------------------- Body -------------------*/
main {
    display: block;
}
/* ------------ banner ------------------------ */ 

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: blur(2px);
}
.banner {
    height: 450px;
}
.banner-content {
    position: absolute;
    color: white;
	top: 35%;
    left: 0;
    right: 0;
    z-index: 2;
}
h1 {
    font-size: 3.2rem;
}
/* --------------- content sections --------------------------- */
section {
    background-color: #80808025;
    text-align: center;
    max-width: 1250px;
    margin: 15px auto;
    border-radius: 15px;
    position: relative;
}
.content, 
.img-sect {
    display: inline-block;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
}


/* ---------------   Order --------------*/
.img-sect {
    min-width: 300px;
    height: 400px;
    margin: 10px;
    object-fit: cover;
}

.content:nth-child(odd) {
    margin-right: 10vw;
    max-width: 300px;
    transform: translateX(-50);
    transition: .5s;
    top: 0;
}
.content:nth-child(even) {
    margin-left: 10vw;
    max-width: 300px;
    transform: translateX(50);
    transition: .5s;
}

/*------------ images  ------------------*/

.img-sect img {
    border-radius: 15px;
    border: 1px solid #2a7baa;
    width: 300px;
}