*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* ---------------------- Header --------------------------------*/
header {
    background  : #2a7baa;
    color: white;
    text-align: center;
    height: 45px;
}
/* ----------------------- Body -------------------*/
main {
    display: block;
}
/* ------------ banner ------------------------ */ 

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: blur(2px);
}

.banner-content {
    position: absolute;
    color: white;
	top: 30%;
    left: 0;
    right: 0;
    z-index: 2;
}
h1 {
    font-size: 3.2rem;
}
/* --------------- content sections --------------------------- */
section {
    background-color: #80808025;
    text-align: center;
    max-width: 1250px;
    margin: 15px auto;
    border-radius: 15px;
    position: relative;
    height: 300px;
}
.content, 
.img-sect {
    display: inline-block;
}


/* ---------------   Order --------------*/
.img-sect {
    width: 400px;
    height: 250px;
    margin: 10px;
}

.content:nth-child(odd) {
    margin-right: 10vw;
    max-width: 400px;
}
.content:nth-child(even) {
    margin-left: 10vw;
    max-width: 400px;
}

/*------------ images  ------------------*/

.img-sect img {
    border-radius: 15px;
}