main {
    display: block;
}

/*--- Banner ---*/
main.banner-directory {


    background-color: red;
}

.banner-directory img {
    width: 100%;
    height: 350px;

    object-fit: cover;
}

/* --- Icons style --- */
.buttons {
    margin: auto;
    max-width: 150px;
}

.buttons .fa {
    padding: 15px;
    margin: 0;

    border: solid 1px ;
    border-radius: 15px;
    color: #ff704d;
}

.buttons .fa-clicked {
    color: white;
    background-color: #f4a361;
    border-color: #ff704d;
}

/*--- Cards - Grid ---*/
.card {
    padding: 2.5rem;
    margin: 15px;
    text-align: center;

    background-color: #f4a361d8;
    border-radius: 15px;
    color: white;
}

/* -- List -- */