main {
    display: block;
}
.buss-cards {
    display: block;
}

/*--- Banner ---*/
.banner-directory h1{
    font-size: 1.8rem;
    padding: 0;
    margin: 15px;
}

.banner-directory {
    margin: 15px 0;
    color: white;
    text-align: center;
    position: relative;
    height: 250px;
}

.banner-directory img {
    width: 100%;
    height: 250px;
    
    object-fit: cover;
    border-radius: 15px;
}
.banner-directory .banner-info {
    position: absolute;
    background-color: #f4a361d7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 90px;
    margin: auto;
}

/* --- Buttons of Order --- */
.buttons {
    margin: auto;
    max-width: 150px;
}

.buttons .fa {
    padding: 13px;
    margin: 0;

    border: solid 1px;
    border-radius: 15px;
    color: #ff704d;
}

.buttons .fa-clicked {
    color: white;
    background-color: #f4a361;
    border-color: #ff704d;
}

/*--- Cards - Grid ---*/
.buss-card {
    padding: 1.4rem;
    margin: 15px 0;
    text-align: center;

    background-color: #f4a361d8;
    border-radius: 15px;
    color: white;
}

.buss-card  span {
    font-size: 1.02rem;
}

.buss-cards .buss-card  img {
    border-radius: 10px;
    width: 40%;
}

/* -- List -- */

.tab a {
    background-color: none;
}
.table {
    border-color: #f4a36159;
}
.table-mid {
    border-spacing: 15px;
}

tbody tr:nth-child(odd) {
    background: #f4a36159;
  }

.row h2 {
    padding: 0;
    margin: 0;
}

/*-- mid view --*/
@media only screen and (min-width: 34.5em) {
    main {
        display: block;
    }
    .buss-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    
    .buss-card{
        margin: 0.45rem;
        padding: 0.35rem;
        padding-bottom: 15px;
        background-color: #f4a361d3;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
    }
    
}