@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
    display: block;
	font-family: sans-serif;
}

h1,
h2, 
h3 {
	font-family: 'Raleway', sans-serif;
}

header {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	background: linear-gradient( 0.25turn,#F4A261, #E76F51, #F4A261);
	display: flex;
	justify-content: space-between;
	color: white;
}

header i {
	padding: 20px;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	display: none;
}

.menu a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 1.2s;
	font-size: clamp(1.3rem, 2vmin, 1.5rem);
	font-family: 'Raleway', sans-serif;
	color: white;
}

.menu a:hover {
	color: white;
	background-color: #223e49;
	transition: 0.5s;
}

.responsive {
	transition: 1.2s;
	position: fixed;
	top: 95px;
	left: 0;
	right: 0
}

.responsive li {
	transition: 1.2s;
	display: block;
	background-color: #F4A261;
}
.responsive a{
	transition: 1.2s;
	text-align: center;
}

.responsive .social {
	display: flex;
	width: 100%;
}

.responsive .social li {
	display: block;
	flex: 1 1 auto;
	border-top: solid  ;
	border-left: solid  ;
	border-color: #E76F51;
}


main {
	padding-top: 90px;
	padding-bottom: 20px;
}

.content {
    background-color: #e6c5bd67;
    height: 200px;
    border-radius: 15px;
    margin-top: 15px;
    transition: 1.2s;
}

header img {
	width: 80px;
	height: 80px;
	border-radius: 98px;
	margin: 10px;
}

.logo {
	width: 50px;
	height: 50px;
	border-radius: 98px;
	padding-top: 5px;
}

footer {
	background-color:#F4A261;
	line-height: 45px;
	text-align: center;
	color: white;
}

#mod {
	border-top: solid;
	border-color: #E76F51;
	width: 85%;
	margin: auto;
}

.info {
	display: block;
}

date {
	display: block;
	position: fixed;
	background-color: #E76F51;
	top: 95px;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
}