@media only screen and (min-width: 47.7em) {
    header img {
        margin-left: 25px;
    }
    .menu{
        display: flex;
        position: relative;
        top: 0.3rem;
        left: 54%;
        right: 0;
        width: 25%;
        z-index: 3;
    }

    .menu li {
        display: block;
        flex: 1 1 auto;
    }
    .menu a:hover {
        color: #223e49;
        background-color: rgba(255, 255, 255, 0);
        transition: 1.2s;
        border-color: #223e49;
    }
    .menu-icon{
        display: none;
    }
    header {
        justify-content: left;
        position: absolute;
        background: none;
        max-width: 1224px;
        margin: auto;
        z-index: 3;
    }
    .bar {
        background: linear-gradient( 0.25turn,#F4A261, #E76F51, #F4A261);
        height: 95px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }
    main {
        max-width: 1050px;
        margin: auto;
    }
    main div:nth-child(2) {
        grid-column: 2/3;
        grid-auto-rows: auto;
    }
    main div:nth-child(3) {
        grid-column: 3/4;
        grid-auto-rows: auto;
    }
    main div:nth-child(4) {
        grid-column: 1/2;
        grid-row: 2/4;
        height: 97%;
        width: 400px;
    }
    main div:nth-child(5) {
        grid-column: 1/3;
        grid-auto-rows: auto;
    }
    main div:nth-child(6) {
        grid-column: 2/4;
        grid-auto-rows: auto;
    }
    main div:nth-child(7) {
        grid-column: 3/4;
        grid-row: 4/5;
    }
    .social {
        display: flex;
    }
    .social li{
        margin-left: 5px;
        border-radius: 90%;
    }
    .content{
        height: 270px;
    }
    #slider {
        height: 400px;
    }
    #info {
        max-width: 1324px;
        margin: 5px auto;
    }
    #mod {
        max-width: 1124px;
    }
    .banner {
        background-color: #223e49ef;
        top: 110px;
        bottom: auto;
        left: 0;
        right: 0;
        max-width: 450px;
        border-radius: 15px;
        height: 165px;
    }
    .join {
        padding-top: 85px;
    }
    .weather {
        top: 0;
        padding-top: 20px;
        border-radius: 15px;
        background-color: #e76f5181;
    }
}