@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    --bg-main-color: #00ffffb4;
    --bg-sec-color: #808080b0;
    --bg-third-color: white;
    --font-color-light: black;
    --font-color-dark: white;
}

/*------- General ------*/
* {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif;
}

p, span, a {
    font-family: sans-serif;
}


/*---------- Header Menu ---------------*/

header {
    display: flex;
    justify-content: space-between;
    height: 130px;
    /*position: fixed;*/
    border: red solid 6px;
}

.logo-side {
    display: inline-flex;
}

.logo-side figure img {
    width: 120px;
    height: 120px;
    border: red solid 6px;
    border-radius: 50%;
}

.logo-side h2 {
    margin: auto;
    padding-left: 5px;

    width: 50px;
    border: red solid 6px;
}

header span {
    border: red solid 6px;
}

