@media only screen and (min-width: 47.7em) {
    :root {
        --bg-main-color: rgba(128, 128, 128, 0.795);
        --bg-sec-color: #80808085;
        --bg-third-color: #d1b01bde;
        --font-color-light: black;
        --font-color-dark: white;
    }

    /* header */
    header {
        max-width: 1274px;
        margin: auto;
    }

    header .menu-bars {
        visibility: hidden;
    } 

    nav.menu ul {
        visibility: visible;
        display: flex;
        flex-wrap: wrap;
        max-width: 450px;
        margin: 20px -95px 20px auto;
    }

    .menu {
        visibility: visible;
        top: 0px;
        max-width: 1274px;
        height: 80px;
        margin: auto;
    }
}