@media only screen and (min-width: 47.7em) {
    :root {
        --bg-main-color: rgba(128, 128, 128, 0.795);
        --bg-sec-color: #80808085;
        --bg-third-color: #d1b01bde;
        --font-color-light: black;
        --font-color-dark: white;
    }

    /* header */
    header {
        margin: auto;
    }

    header .logo-side {
        width: 100vw;
        max-width: 1250px;
        margin: auto;
    }

    header .logo-side h2 {
        margin-left: 0;
    }

    header .menu-bars {
        visibility: hidden;
    } 

    nav.menu ul {
        visibility: visible;
        display: flex;
        flex-wrap: wrap;
        max-width: 450px;
        margin: 20px -95px 20px auto;
    }

    nav.menu ul li:hover {
        background-color: var(--bg-main-color);
    }

    .menu {
        visibility: visible;
        top: 0px;
        max-width: 1274px;
        height: 80px;
        margin: auto;
    }

    main {
        max-width: 1274px;
        margin: auto;
    }

    .content,
    section.temples section,
    section.temples img {
        max-width: 1274px;
    }
}