@media only screen and (min-width: 47.7em) {
    :root {
        --bg-main-color: #808080e8;
        --bg-sec-color: #808080fa;
        --bg-third-color: #d1b01be7;
        --font-color-light: black;
        --font-color-dark: white;
    }

    /* header */
    header {
        margin: auto;
    }

    header .logo-side {
        width: 100vw;
        max-width: 1250px;
        margin: auto;
    }

    header .logo-side h2 {
        margin-left: 0;
    }

    header .menu-bars {
        visibility: hidden;
    } 

    nav.menu ul {
        visibility: visible;
        display: flex;
        flex-wrap: wrap;
        max-width: 450px;
        margin: 20px -95px 20px auto;
    }

    nav.menu ul li:hover {
        background-color: var(--bg-main-color);
    }

    .menu {
        visibility: visible;
        top: 0px;
        max-width: 1274px;
        height: 80px;
        margin: auto;
    }

    section.temples section,
    section.temples img {
        max-width: 1274px;
    }

    footer .footer-content img {
        max-width: 300px;
        margin: 35px;
    }
    footer .footer-content {
        max-width: 1274px;
        margin: auto;
    }

    /* sections of the main content*/

    main {
        max-width: 1274px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

    main .main-banner {
        grid-column: 1/4;
        grid-row: 1/2;
        max-width: 1274px;
    }

    main .content:nth-child(2) {
        grid-column: 1/4;
        grid-row: 2/3;
        display: flex;
        max-width: 1274px;
    }
    main .content:nth-child(2) div{
        max-width: 40vw;
        margin: 95px auto;
    }

    main .content:nth-child(2) img {
        width: 30vw;
        border-radius: 10px;
    }

    /*  ---- Second Content ---- */
    main .content:nth-child(3) {
        grid-column: 1/2;
        grid-row: 3/4;

        width: 45vw;
        max-width: 620px;
    }

    /* ---- Third Contentn ----*/

    main .content:nth-child(4) {
        grid-column: 3/4;
        grid-row: 3/4;

        width: 45vw;
        max-width: 620px;
    }

    main .content:nth-child(4) img {
        width: 15vw;
    }

    main .content:nth-child(4) div {
        width: 3550px;
    }

    main .content:nth-child(5) {
        grid-column: 1/4;
        grid-row: 4/5;
        max-width: 1274px;
        height: 350px;
    }
}