@media only screen and (min-width: 32.5em){
    section.temples {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    section.temples div.card {
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;

        height: 450px;
    }

    section.temples div.card img,
    section.temples div.card .btn,
    section.temples div.card button {
        width: 100%;
    }

    section.temples div.card h2 {
        font-size: 20px;
    }
}